$default_yellow:  #DCF10D;
$default_gray: #9D9DB5;
$default_color_1: #FFFFFF;
$header_blue: #192140;
$footer_black: #10131C;
$date_border_color: #C0BFCF;
$default_color_2: #D7F8FF;
$card_bg_color: #F8F9FC;
$default_blue: #0266FF;

$main-font: Inter;


